@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swa");

@import "tailwindcss";

button {
  @apply cursor-pointer
}

@theme {
  --font-display: "Work Sans";

  --color-background: #2B2B2B;
  --color-white: #FFFFFF;
  --color-ash: #858584;
  --color-purple: #A259FF;
  --color-black2: #3B3B3B;
}
