@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swa');

@import "tailwindcss";

@theme {
  --font-family: 'Work Sans', san-serif;

  --color-text: #FFFFFF;
  --color-background: #2B2B2B;
  --color-caption: #858584;
  --color-background-secondary: #3B3B3B;
  --color-CTA: #A259FF;
  --color-Blue-Accent: #377DF7;
  --color-Red-Accent: #FF7262;
}

button {
  @apply cursor-pointer;
}

body {
 background-color: #2B2B2B;
}
